.root {
  display: flex;
  flex-shrink: 0;
  gap: 0.125rem;
  z-index: 1001;
  position: relative;
  -webkit-app-region: no-drag;
  pointer-events: auto;
}

.btn {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  white-space: nowrap;
  transition: background-color 150ms ease, color 150ms ease;
  -webkit-app-region: no-drag;
  position: relative;
  z-index: 52;
  cursor: pointer;
}

.btn:hover {
  background: #333333;
  color: #ffffff;
  -webkit-app-region: no-drag;
}

.btnDisabled {
  opacity: 0.4;
  cursor: default;
}

.btnDisabled:hover {
  background: transparent;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #333333;
  align-self: center;
  margin: 0 4px;
}