.diffEditor {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #1e1e1e;
    color: #808080;
    font-size: 14px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #1e1e1e;
    color: #f85149;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}
